# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
env/
.vscode/
.venv/

# --- Data files ---
*.csv

# --- Jupyter Notebooks ---
*.ipynb
.ipynb_checkpoints/

# --- VS Code ---
.vscode/

# --- Logs ---
*.log
*.out
.out

# --- OS / editor junk ---
.DS_Store
Thumbs.db

# --- Cache, build, and compiled ---
build/
dist/
.cache/
*.tmp
*.swp
*.bak

# --- Environment variables ---
.env
*.env
.env.*

move_file.sh
remove_folder.sh
run_ex_nor.sh
run_ex.sh
run_retrain.sh

combo3.py
combo2.py

OP_model/*

pro_data/*
!pro_data/.gitkeep

New_ML_data/*
!New_ML_data/.gitkeep

DAWF/**
!DAWF/.gitkeep
!DAWF/dawf_data/.gitkeep

Move_files/*

/Create_ML_hyp.py
/FS_start.py
/FS_results.py
/run_hyp.py